<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
      <ul class="list-group">
        <input type="text" name="filterValue" [(ngModel)]="filterValue" class="form-control">
        <br>
        <button (click)="onAddServer()" class="btn btn-primary" type="button">Add Server</button>
        <br>
        <!--this will output [object Promise]-->
        <h2>app status: {{ appStatus }}</h2>
        <br>
        <!--the async pipe will recognise the Promise or Observer accordingly and display resolved or next value-->
        <h2>app status: {{ appStatus | async}}</h2>
        <hr>
        <li
          class="list-group-item"
          *ngFor="let server of servers | filter:'status':filterValue | sort:'name'"
          [ngClass]="getStatusClasses(server)">
          <span
            class="badge">
            {{ server.status }}
          </span>
          <strong>{{ server.name | shorten:10 }}</strong> 
          | {{ server.instanceType | uppercase | reverse }} 
          | {{ server.started | date: 'fullDate' }}
        </li>
      </ul>
    </div>
  </div>
</div>
